# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\wluser\Desktop\LibraryForSpringBootAndReact-master-20210308\LibraryForSpringBootAndReact-master-20210308\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
